# Editor directories and files
.vscode/*
.vscode
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Readme.txt

# Environment variables
.env

# User files
.bin
vendor/
node_modules/
modules/
test/
dist/

# Composer
composer.lock

# Tools
tools/
