html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  background-color: white;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
table.sheet0 {
  width: 100% !important;
  table-layout: auto;
  max-width: 100%;
}
a.comment-indicator:hover + div.comment {
  background: #ffd;
  position: absolute;
  display: block;
  border: 1px solid black;
  padding: 0.5em;
}
a.comment-indicator {
  background: red;
  display: inline-block;
  border: 1px solid black;
  width: 0.5em;
  height: 0.5em;
}
div.comment {
  display: none;
}
table {
  border-collapse: collapse;
  page-break-inside: avoid; /* Changed from always to avoid */
}
.gridlines td {
  border: 1px dotted black;
}
.gridlines th {
  border: 1px dotted black;
}
.b {
  text-align: center;
}
.e {
  text-align: center;
}
.f {
  text-align: right;
}
.inlineStr {
  text-align: left;
}
.n {
  text-align: right;
}
.s {
  text-align: left;
}
td.style0 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
th.style0 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
td.style1 {
  vertical-align: middle;
  text-align: right;
  padding-right: 0px;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  text-decoration: underline;
  color: #000000;
  font-family: "Calibri";
  font-size: 12pt;
  background-color: white;
}
th.style1 {
  vertical-align: middle;
  text-align: right;
  padding-right: 0px;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  text-decoration: underline;
  color: #000000;
  font-family: "Calibri";
  font-size: 12pt;
  background-color: white;
}
td.style2 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 12pt;
  background-color: white;
}
th.style2 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 12pt;
  background-color: white;
}
td.style3 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
th.style3 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
td.style4 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
th.style4 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
td.style5 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style5 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style6 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style6 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style7 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style7 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style8 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style8 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style9 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style9 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style10 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style10 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style11 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style11 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style12 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style12 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style13 {
  vertical-align: top;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style13 {
  vertical-align: top;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style14 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style14 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style15 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style15 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style16 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style16 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style17 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style17 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style18 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style18 {
  vertical-align: middle;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style19 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style19 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style20 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style20 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style21 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style21 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style22 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style22 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style23 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style23 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style24 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style24 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style25 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style25 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style26 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style26 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style27 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style27 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style28 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style28 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style29 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style29 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style30 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style30 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style31 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style31 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style32 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style32 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style33 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style33 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style34 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style34 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style35 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style35 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style36 {
  vertical-align: top;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style36 {
  vertical-align: top;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style37 {
  vertical-align: top;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style37 {
  vertical-align: top;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style38 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style38 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style39 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style39 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style40 {
  vertical-align: bottom;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style40 {
  vertical-align: bottom;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style41 {
  vertical-align: bottom;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style41 {
  vertical-align: bottom;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style42 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
th.style42 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  background-color: white;
}
td.style43 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style43 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style44 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style44 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style45 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style45 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
table.sheet0 col.col0 {
  width: 5.03%;
} /* 32.53/647.47 ≈ 5.03% */
table.sheet0 col.col1 {
  width: 26.17%;
} /* 169.44/647.47 ≈ 26.17% */
table.sheet0 col.col2 {
  width: 18.84%;
} /* 121.99/647.47 ≈ 18.84% */
table.sheet0 col.col3 {
  width: 10.68%;
} /* 69.13/647.47 ≈ 10.68% */
table.sheet0 col.col4 {
  width: 3.56%;
} /* 23.04/647.47 ≈ 3.56% */
table.sheet0 col.col5 {
  width: 4.71%;
} /* 30.49/647.47 ≈ 4.71% */
table.sheet0 col.col6 {
  width: 11.51%;
} /* 74.55/647.47 ≈ 11.51% */
table.sheet0 col.col7 {
  width: 4.92%;
} /* 31.85/647.47 ≈ 4.92% */
table.sheet0 col.col8 {
  width: 4.92%;
} /* 31.85/647.47 ≈ 4.92% */
table.sheet0 col.col9 {
  width: 4.92%;
} /* 31.85/647.47 ≈ 4.92% */
table.sheet0 col.col10 {
  width: 4.92%;
} /* 31.85/647.47 ≈ 4.92% */

.column0 {
  width: 5.03% !important;
} /* 32.53/647.47 ≈ 5.03% */
.column1 {
  width: 26.17% !important;
} /* 169.44/647.47 ≈ 26.17% */
.column2 {
  width: 18.84% !important;
} /* 121.99/647.47 ≈ 18.84% */
.column3 {
  width: 10.68% !important;
} /* 69.13/647.47 ≈ 10.68% */
.column4 {
  width: 3.56% !important;
} /* 23.04/647.47 ≈ 3.56% */
.column5 {
  width: 4.71% !important;
} /* 30.49/647.47 ≈ 4.71% */
.column6 {
  width: 11.51% !important;
} /* 74.55/647.47 ≈ 11.51% */
.column7 {
  width: 4.92% !important;
} /* 31.85/647.47 ≈ 4.92% */
.column8 {
  width: 4.92% !important;
} /* 31.85/647.47 ≈ 4.92% */
.column9 {
  width: 4.92% !important;
} /* 31.85/647.47 ≈ 4.92% */
.column10 {
  width: 4.92% !important;
}

/* 
table.sheet0 tr {
  height: 15pt;
}
table.sheet0 tr.row0 {
  height: 20.1pt;
}
table.sheet0 tr.row1 {
  height: 20.1pt;
}
table.sheet0 tr.row2 {
  height: 20.1pt;
}
table.sheet0 tr.row3 {
  height: 20.1pt;
}
table.sheet0 tr.row4 {
  height: 27.95pt;
}
table.sheet0 tr.row5 {
  height: 27.95pt;
}
table.sheet0 tr.row6 {
  height: 27.95pt;
}
table.sheet0 tr.row7 {
  height: 27.95pt;
}
table.sheet0 tr.row8 {
  height: 27.95pt;
}
table.sheet0 tr.row9 {
  height: 27.95pt;
}
table.sheet0 tr.row10 {
  height: 27.95pt;
}
table.sheet0 tr.row11 {
  height: 27.95pt;
}
table.sheet0 tr.row12 {
  height: 27.95pt;
}
table.sheet0 tr.row13 {
  height: 27.95pt;
}
table.sheet0 tr.row14 {
  height: 27.95pt;
}
table.sheet0 tr.row15 {
  height: 27.95pt;
}
table.sheet0 tr.row16 {
  height: 27.95pt;
}
table.sheet0 tr.row17 {
  height: 27.95pt;
}
table.sheet0 tr.row18 {
  height: 27.95pt;
}
table.sheet0 tr.row19 {
  height: 27.95pt;
}
table.sheet0 tr.row20 {
  height: 27.95pt;
}
table.sheet0 tr.row21 {
  height: 27.95pt;
}
table.sheet0 tr.row22 {
  height: 27.95pt;
}
table.sheet0 tr.row23 {
  height: 27.95pt;
}
table.sheet0 tr.row24 {
  height: 27.95pt;
}
table.sheet0 tr.row25 {
  height: 27.95pt;
}
table.sheet0 tr.row26 {
  height: 27.95pt;
}
table.sheet0 tr.row27 {
  height: 27.95pt;
}
table.sheet0 tr.row28 {
  height: 27.95pt;
}
table.sheet0 tr.row29 {
  height: 27.95pt;
}
table.sheet0 tr.row30 {
  height: 27.95pt;
}
table.sheet0 tr.row31 {
  height: 20.1pt;
}
table.sheet0 tr.row32 {
  height: 20.1pt;
}
*/
.hi-0 {
  height: 0rem;
}
.hi-1 {
  height: 0.25rem;
}
.hi-3 {
  height: 0.75rem;
}
.hi-4 {
  height: 1rem;
}
.hi-5 {
  height: 1.25rem;
}
.hi-6 {
  height: 1.5rem;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-6 {
  padding: 1.5rem;
}
.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pr-3 {
  padding-right: 0.75rem;
}
.pr-4 {
  padding-right: 1rem;
}
.pr-5 {
  padding-right: 1.25rem;
}
.pr-6 {
  padding-right: 1.5rem;
}
.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 0.75rem;
}
.pl-4 {
  padding-left: 1rem;
}
.pl-5 {
  padding-left: 1.25rem;
}
.pl-6 {
  padding-left: 1.5rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.23rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.23rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mr-4 {
  margin-right: 1rem;
}
.mr-5 {
  margin-right: 1.23rem;
}
.mr-6 {
  margin-right: 1.5rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.ml-4 {
  margin-left: 1rem;
}
.ml-5 {
  margin-left: 1.23rem;
}
.ml-6 {
  margin-left: 1.5rem;
}

.fs-1 {
  font-size: xx-large;
}
.fs-2 {
  font-size: x-large;
}
.fs-3 {
  font-size: large;
}
.fs-4 {
  font-size: medium;
}
.fs-5 {
  font-size: small;
}
.fs-6 {
  font-size: x-small;
}
.fs-7 {
  font-size: xx-small;
}
.fw-bold {
  font-weight: bold !important;
}
.fw-normal {
  font-weight: normal !important;
}
