<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../assets/css/annexure-A.css" />
  </head>

  <body>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      id="sheet0"
      class="sheet0 gridlines"
    >
      <col class="col0" />
      <col class="col1" />
      <col class="col2" />
      <col class="col3" />
      <col class="col4" />
      <tbody>
        <tr class="row0">
          <td class="column0 style35 s style35" colspan="5">Annexure-A</td>
        </tr>
        <tr class="row0">
          <td class="column0 style41 s style41" colspan="5">
            &lt;?= isset($_COOKIE['title']) ?
            htmlspecialchars($_COOKIE['title']) : 'Title'; ?&gt;
          </td>
        </tr>
        <tr class="row1">
          <td class="column0 style36 s style36" colspan="5">
            FORMAT FOR AIR BRAKE RAKE TESTING ON RTR (LHB)<br />
            (As per LHB CAMTECH Manual)
          </td>
        </tr>
        <tr class="row2">
          <td class="column0 style37 s style38" colspan="2">Train No:</td>
          <td class="column2 style1 s">Load:</td>
          <td class="column3 style37 s style37" colspan="2">Date:</td>
        </tr>
        <tr class="row3">
          <td class="column0 style39 s style40" colspan="5">Name of staffs:</td>
        </tr>
        <tr class="row4">
          <td class="column0 style2 s">S.N.</td>
          <td class="column1 style2 s">Description</td>
          <td class="column2 style2 s">Observation</td>
          <td class="column3 style2 s">Actual Value</td>
          <td class="column4 style2 s">Remarks</td>
        </tr>
        <tr class="row5">
          <td class="column0 style2 s">A</td>
          <td class="column1 style17 s style18" colspan="4">Rake Test</td>
        </tr>
        <tr class="row6">
          <td class="column0 style15 n style16" rowspan="6">1</td>
          <td class="column1 style19 s style20" rowspan="6">
            Draining of Auxiliary Reservoirs/Strainers
          </td>
          <td class="column2 style3 s">125 L -</td>
          <td class="column3 style12 s">&lt;?= $draining_of_125l ?&gt;</td>
          <td class="column4 style14 null style14" rowspan="6"></td>
        </tr>
        <tr class="row7">
          <td class="column2 style3 s">75 L -</td>
          <td class="column3 style12 s">&lt;?= $draining_of_75l ?&gt;</td>
        </tr>
        <tr class="row8">
          <td class="column2 style3 s">150 L -</td>
          <td class="column3 style12 s">&lt;?= $draining_of_150l ?&gt;</td>
        </tr>
        <tr class="row9">
          <td class="column2 style3 s">BP Strainer -</td>
          <td class="column3 style12 s">&lt;?= $bp_strainer ?&gt;</td>
        </tr>
        <tr class="row10">
          <td class="column2 style3 s">FP Strainer -</td>
          <td class="column3 style12 s">&lt;?= $fp_strainer ?&gt;</td>
        </tr>
        <tr class="row11">
          <td class="column2 style3 s">
            Ensure all WSPs of the rake in "OFF" condition after 10<br />
            minutes of draining BP &amp; FP.
          </td>
          <td class="column3 style12 s">&lt;?= $all_off ?&gt;</td>
        </tr>
        <tr class="row12">
          <td class="column0 style15 n style16" rowspan="3">2</td>
          <td class="column1 style17 s style18" rowspan="3">
            NRV check
            <span style="color: #000000; font-size: 8pt"
              >(On charging BP line, FP gauge should show Nil<br />
              pressure)</span
            >
          </td>
          <td class="column2 style4 s">Pressure in FP :</td>
          <td class="column3 style12 null"></td>
          <td class="column4 style14 null style14" rowspan="3"></td>
        </tr>
        <tr class="row13">
          <td class="column2 style3 s">Front Power Car -</td>
          <td class="column3 style12 s">&lt;?= $front_pwr_car_fp ?&gt;</td>
        </tr>
        <tr class="row14">
          <td class="column2 style3 s">Rear Power Car -</td>
          <td class="column3 style12 s">&lt;?= $rear_pwr_car_fp ?&gt;</td>
        </tr>
        <tr class="row15">
          <td class="column0 style15 n style15" rowspan="3">3</td>
          <td class="column1 style21 s style22" rowspan="3">
            Self Release Check<br />
            Step -1 :
            <span style="color: #000000; font-size: 8pt"
              >BP &amp; FP to be charged 5.0 &amp; 6.0 Kg/Cm2</span
            ><span
              style="
                font-weight: bold;
                color: #000000;

                font-size: 8pt;
              "
              ><br />
              Step -2 : </span
            ><span style="color: #000000; font-size: 8pt"
              >RTR BP/FP palms to be disconnected.</span
            ><span
              style="
                font-weight: bold;
                color: #000000;

                font-size: 8pt;
              "
              ><br />
              Step -3 : </span
            ><span style="color: #000000; font-size: 8pt"
              >Open the angle cocks to exhaust BP and FP</span
            ><span
              style="
                font-weight: bold;
                color: #000000;

                font-size: 8pt;
              "
              ><br /> </span
            ><span style="color: #000000; font-size: 8pt"
              >pressure and wait for 20-25 minutes</span
            >
          </td>
          <td class="column2 style24 s style24">
            Coaches in which Brakes found released -
          </td>
          <td class="column3 style24 s style24">
            &lt;?= $brake_released ?&gt;
          </td>
          <td class="column4 style26 null style27" rowspan="3"></td>
        </tr>
        <tr class="row17">
          <td class="column2 style10 s">(i) AR charge/empty -</td>
          <td class="column3 style12 s">&lt;?= $ar_chrg_empty ?&gt;</td>
        </tr>
        <tr class="row18">
          <td class="column2 style7 s">(ii) CR charge/empty -</td>
          <td class="column3 style12 s">&lt;?= $cr_chrg_empty ?&gt;</td>
        </tr>
        <tr class="row19">
          <td class="column0 style33 n style34" rowspan="2">4</td>
          <td class="column1 style31 s style32" rowspan="2">
            Accuracy of BP/FP Gauge of front Power Car/LSLRD
          </td>
          <td class="column2 style29 s style30" rowspan="2">
            Connect BP &amp; FP Master Gauges with dummy on free end<br />
            of last vehicle and charge again BP and FP pressure.
          </td>
          <td class="column3 style8 s">
            <span
              style="
                font-weight: bold;
                color: #000000;

                font-size: 8pt;
              "
              >Front Power Car </span
            ><span style="color: #000000; font-size: 8pt"
              ><br />
              &lt;?= $front_pwr_car_bp ?&gt;<br />
              &nbsp;&lt;?= $front_pwr_car_fp ?&gt;</span
            >
          </td>
          <td class="column4 style11 null"></td>
        </tr>
        <tr class="row20">
          <td class="column3 style8 s">
            <span
              style="
                font-weight: bold;
                color: #000000;

                font-size: 8pt;
              "
              >LSLRD</span
            ><span style="color: #000000; font-size: 8pt">
              <br />
              &nbsp;&lt;?= $lslrd_pwr_car_bp ?&gt;<br />
              &nbsp;&lt;?= $lslrd_pwr_car_fp ?&gt;</span
            >
          </td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row21">
          <td class="column0 style15 n style16" rowspan="2">5</td>
          <td class="column1 style17 s style18" rowspan="2">
            Leakage Check
            <span style="color: #000000; font-size: 8pt"
              >(before maintenance) BP &amp; FP to be<br />
              charged to 5.0 &amp; 6.0 Kg/Cm2. Close BP &amp; FP angle cock
              for<br />
              03 minutes</span
            >
          </td>
          <td class="column2 style3 s">Attend leakage if any -</td>
          <td class="column3 style13 s">&lt;?= $attended_any_leakage ?&gt;</td>
          <td class="column4 style14 null style14" rowspan="2"></td>
        </tr>
        <tr class="row22">
          <td class="column2 style3 s">
            Leakage &lt; = 0.6 Kg/Cm2 in 3 minutes -
          </td>
          <td class="column3 style8 s">
            &lt;?= $bp_value ?&gt;<br />
            &nbsp;&lt;?= $fp_value ?&gt;
          </td>
        </tr>
        <tr class="row23">
          <td class="column0 style15 n style16" rowspan="3">6</td>
          <td class="column1 style17 s style18" rowspan="3">
            Attention to Self released coaches
          </td>
          <td class="column2 style3 s">
            (i) If AR tank found empty check for the leakage on back of<br />
            the brake Panel.
          </td>
          <td class="column3 style13 s">&nbsp;&lt;?= $ar_tank_empty ?&gt;</td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row24">
          <td class="column2 style3 s">
            (ii) If CR tank found empty check for the leakage on CR<br />
            tank, pipes &amp; test points of the brake panel.
          </td>
          <td class="column3 style13 s">&nbsp;&lt;?= $cr_tank_empty ?&gt;</td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row25">
          <td class="column2 style3 s">
            (iii) If defect persist, mark sick for SCTR test -
          </td>
          <td class="column3 style13 s">&nbsp;&lt;?= $defect_persist ?&gt;</td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row26">
          <td class="column0 style6 n">7</td>
          <td class="column1 style4 s">
            Leakage test by dropping 1.6 Kg/Cm2 in BP
          </td>
          <td class="column2 style3 s">
            Leakage location to be pin-pointed using soap solution
          </td>
          <td class="column3 style13 s">
            &nbsp;&lt;?= $full_brk_applied ?&gt;
          </td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row27">
          <td class="column0 style6 n">8</td>
          <td class="column1 style4 s">
            Bogie Isolation test
            <span style="color: #000000; font-size: 8pt">(All coaches)</span>
          </td>
          <td class="column2 style3 s">
            Functional test of brake release through bogie isolation<br />
            cocks on brake panel.
          </td>
          <td class="column3 style13 s">
            &nbsp;&lt;?= $full_brk_rel_in_iso ?&gt;
          </td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row28">
          <td class="column0 style15 n style16" rowspan="2">9</td>
          <td class="column1 style17 s style18" rowspan="2">
            Brake Indicator test
            <span style="color: #000000; font-size: 8pt">(All coaches)</span>
          </td>
          <td class="column2 style3 s">
            On brake application Indicator display RED-
          </td>
          <td class="column3 style13 s">
            &nbsp;&lt;?= $full_brk_rel_indic ?&gt;
          </td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row29">
          <td class="column2 style3 s">
            On brake release Indicator display GREEN-
          </td>
          <td class="column3 style13 s">
            &nbsp;&lt;?= $full_brk_apply_indic ?&gt;
          </td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row30">
          <td class="column0 style6 n">10</td>
          <td class="column1 style4 s">
            Check for any cross connection in BP &amp; FP pressure
          </td>
          <td class="column2 style3 s">
            In Rear end Power Car-<br />
            (i) BP=3.4 Kg/cm2-<br />
            (ii) FP = 5.8-6.0 Kg/cm2-
          </td>
          <td class="column3 style8 s">
            &lt;?= $bp_pressure ?&gt;<br />
            &nbsp;&lt;?= $fp_pressure ?&gt;
          </td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row31">
          <td class="column0 style6 n">11</td>
          <td class="column1 style4 s">Check for CR overcharging</td>
          <td class="column2 style3 s">If CR overcharged, mark sick</td>
          <td class="column3 style13 s">
            &nbsp;&lt;?= $coach_no_marked_sick ?&gt;
          </td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row32">
          <td class="column0 style6 n">12</td>
          <td class="column1 style4 s">Check PEASD (Any 03 coaches)</td>
          <td class="column2 style3 s">Coach nos. -</td>
          <td class="column3 style13 s">&nbsp;&lt;?= $coach_nos ?&gt;</td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row33">
          <td class="column0 style15 n style16" rowspan="2">13</td>
          <td class="column1 style17 s style18" rowspan="2">Continuity Test</td>
          <td class="column2 style3 s">
            On operating Guard emergency valve from front Power<br />
            Car, BP = 0 Kg/cm2 in 25-30 seconds in front Power Car<br />
            and 40-50 seconds in rear Power Car.
          </td>
          <td class="column3 style8 s">
            (i) &lt;?= $front_car_time1 ?&gt;<br />
            (ii) &lt;?= $front_car_time2 ?&gt;
          </td>
          <td class="column4 style14 null style14" rowspan="2"></td>
        </tr>
        <tr class="row34">
          <td class="column2 style3 s">
            On operating Guard emergency valve from rear Power Car,<br />
            BP = 0 Kg/cm2 in 25-30 seconds in rear Power Car and 40-<br />
            50 seconds in front Power Car.
          </td>
          <td class="column3 style8 s">
            (i) &lt;?= $rear_car_time1 ?&gt;<br />
            (ii) &lt;?= $rear_car_time2 ?&gt;
          </td>
        </tr>
        <tr class="row35">
          <td class="column0 style6 n">14</td>
          <td class="column1 style4 s">
            Check Hand Brake of both Power Car/LSLRD
          </td>
          <td class="column2 style3 s">
            (i) Condition &amp; mounting of hand brake cables.<br />
            (ii) Application and release.
          </td>
          <td class="column3 style8 s">
            (i) &lt;?= $ghbcable_ok ?&gt;<br />
            (ii) &lt;?= $ghbcable_ok ?&gt;
          </td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row36">
          <td class="column0 style6 n">15</td>
          <td class="column1 style4 s">
            Monitor for Leakage (after work)
            <span style="color: #000000; font-size: 8pt"
              >(After BP-<br />
              5.0 Kg/Cm2 &amp; FP - 6.0 Kg/Cm2 for 3 minutes)</span
            >
          </td>
          <td class="column2 style3 s">
            Leakage&lt;= 0.6 Kg/Cm2 in 3 Minutes-
          </td>
          <td class="column3 style8 s">
            &lt;?= $bp_leakage_value ?&gt;<br />
            &nbsp;&lt;?= $fp_leakage_value ?&gt;
          </td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row37">
          <td class="column0 style6 n">16</td>
          <td class="column1 style4 s">Manual Release of rake</td>
          <td class="column2 style3 s">Ensure manual release of all DVs</td>
          <td class="column3 style13 s">&lt;?= $manrel_step2 ?&gt;</td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row38">
          <td class="column0 style2 s">B</td>
          <td class="column1 style4 s">WSP Testing</td>
          <td class="column2 style5 null"></td>
          <td class="column3 style13 null"></td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row39">
          <td class="column0 style6 n">1</td>
          <td class="column1 style3 s">Check for any loose WSP components</td>
          <td class="column2 style5 null"></td>
          <td class="column3 style13 s">&lt;?= $loose_component ?&gt;</td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row40">
          <td class="column0 style6 n">2</td>
          <td class="column1 style3 s">Check WSP display 99</td>
          <td class="column2 style5 null"></td>
          <td class="column3 style13 s">&lt;?= $display_99 ?&gt;</td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row41">
          <td class="column0 style6 n">3</td>
          <td class="column1 style3 s">
            Perform Dump Valve test for operating in sequence
          </td>
          <td class="column2 style5 null"></td>
          <td class="column3 style13 s">&lt;?= $perform_seq_test ?&gt;</td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row42">
          <td class="column0 style2 s">C</td>
          <td class="column1 style10 s">
            Check for the free movement of Caliper arms by physical Shaking the
            brake caliper units.
          </td>
          <td class="column2 style7 null"></td>
          <td class="column3 style13 s">&lt;?= $check_caliper_arms ?&gt;</td>
          <td class="column4 style7 null"></td>
        </tr>
        <tr class="row43">
          <td class="column0 style6 n">17</td>
          <td class="column1 style4 s">
            DV release time (write "within limit" (max 20 sec) or specify if any
            out of limit)
          </td>
          <td class="column2 style3 s"></td>
          <td class="column3 style13 s"></td>
          <td class="column4 style9 null"></td>
        </tr>
        <tr class="row44">
          <td class="column0 style6 n">18</td>
          <td class="column1 style4 s">Brake Power</td>
          <td class="column2 style3 s">Total Cylinder:_______</td>
          <td class="column3 style13 s">Operative Cylinder:_______</td>
          <td class="column4 style9 null">Percentage:_______</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
