html {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 11pt;
  background-color: white;
}
a.comment-indicator:hover + div.comment {
  background: #ffd;
  position: absolute;
  display: block;
  border: 1px solid black;
  padding: 0.5em;
}
a.comment-indicator {
  background: red;
  display: inline-block;
  border: 1px solid black;
  width: 0.5em;
  height: 0.5em;
}
div.comment {
  display: none;
}
table {
  border-collapse: collapse;
}
.gridlines td {
  border: 1px dotted black;
}
.gridlines th {
  border: 1px dotted black;
}
.b {
  text-align: center;
}
.e {
  text-align: center;
}
.f {
  text-align: right;
}
.inlineStr {
  text-align: left;
}
.n {
  text-align: right;
}
.s {
  text-align: left;
}
td.style0 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
th.style0 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
td.style1 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style1 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style2 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style2 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style3 {
  vertical-align: middle;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style3 {
  vertical-align: middle;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style4 {
  vertical-align: middle;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style4 {
  vertical-align: middle;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style5 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style5 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style6 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style6 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style7 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style7 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style8 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style8 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style9 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style9 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style10 {
  vertical-align: middle;
  text-align: right;
  padding-right: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style10 {
  vertical-align: middle;
  text-align: right;
  padding-right: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style11 {
  vertical-align: middle;
  text-align: right;
  padding-right: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style11 {
  vertical-align: middle;
  text-align: right;
  padding-right: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style12 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style12 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style13 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style13 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style14 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style14 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style15 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style15 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style16 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style16 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
td.style17 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
th.style17 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 10pt;
  background-color: white;
}
table.sheet0 col.col0 {
  width: 80.65555463pt;
}
table.sheet0 col.col1 {
  width: 130.81110961pt;
}
table.sheet0 col.col2 {
  width: 142.3333317pt;
}
table.sheet0 col.col3 {
  width: 102.34444327pt;
}
table.sheet0 col.col4 {
  width: 98.27777665pt;
}
table.sheet0 col.col5 {
  width: 98.27777665pt;
}
table.sheet0 col.col6 {
  width: 43.37777728pt;
}
table.sheet0 tr {
  height: 15pt;
}
table.sheet0 tr.row1 {
  height: 24.95pt;
}
table.sheet0 tr.row2 {
  height: 24.95pt;
}
table.sheet0 tr.row3 {
  height: 24.95pt;
}
table.sheet0 tr.row5 {
  height: 24.95pt;
}
table.sheet0 tr.row6 {
  height: 166.5pt;
}
table.sheet0 tr.row7 {
  height: 74.25pt;
}
table.sheet0 tr.row8 {
  height: 75.75pt;
}
table.sheet0 tr.row9 {
  height: 65.25pt;
}
table.sheet0 tr.row10 {
  height: 120.75pt;
}
table.sheet0 tr.row11 {
  height: 158.25pt;
}
table.sheet0 tr.row12 {
  height: 25.5pt;
}
table.sheet0 tr.row13 {
  height: 80.1pt;
}
table.sheet0 tr.row14 {
  height: 80.1pt;
}
table.sheet0 tr.row15 {
  height: 80.1pt;
}
table.sheet0 tr.row16 {
  height: 30pt;
}
